<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/sunny/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Login Page</title>
    <style>
        textarea {
            margin-top: 15px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".dropdown-menu li a").click(function () {
                $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
                $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
            })
        });

    </script>
</head>

<body>

    <div class="container jumbotron">
        <form action="/logged_in" method="POST">
            <ul class="list-group">
                <li class="list-group-item active">Welcome {{ session['first_name'] }}!</li>
                <li class="list-group-item list-group-item-success">You have succesfully logged in!</li>
                <li class="list-group-item list-group-item-success">User Information:</li>
                <li class="list-group-item list-group-item-info">First Name: {{ session['first_name'] }}</li>
                <li class="list-group-item list-group-item-info">Last Name: {{ session['last_name'] }}</li>
                <li class="list-group-item list-group-item-info">Email: {{ session['email'] }}</li>
            </ul>
        </form>
        <form class="inline" action="/logout" method="POST" style="margin-top: 20px;">
            <input class='btn btn-warning' type='submit' value='Logout'>
        </form>
    </div>

    <div class='containter jumbotron'>
        <div class='row'>
            <div class='col'>
                <table class='table'>
                    <thead>
                        <th>{{ session['first_name'] }}, you have {{ count }} messages:</th>
                    </thead>
                    <tbody>
                                                  
                            {% for message in messages %}
                            <tr>
                                <td> {{ message["DATE_FORMAT(messages.created_at, '%m-%d-%Y' ' @ ' '%h:%i:%s%p')"] }} </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ message['first_name'] }} said: {{ message['message'] }}
                                    <a href="/delete/{{ message['id'] }}" style="margin-left: 15px;" class="btn btn-primary">delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                            
    
                    </tbody>

                </table>



            </div>
            <div class='col'>
                <!-- <div class='dropdown'>
                    <h4>Send Message:</h4>
                    <button type='button' class='btn btn-secondary dropdown-toggle' data-toggle='dropdown'>Select
                        User</button>
                    <ul class="dropdown-menu">
                        {% for user in user_names%}
                        <li><a href="#">{{ user['first_name'] }}</a></li>
                        {% endfor %}
                    
                </div> -->
                <table class="table">
                    <thead>
                        <th>Send a Message:</th>
                        
                    </thead>
                    <tbody>
                            <th>You have sent {{ sender_count }} messages.</th>
                        <tr>
                                
                            <td>
                                
                                {% for user in user_names %}
                                <form action="/sendMessages" method="POST">
                                    <h5>{{ user['first_name'] }}:</h5>
                                    <textarea name='message' cols="40" rows='2'></textarea>
                                    <input type='submit' value="send" class="btn btn-primary">
                                    <input type='hidden' name='recipient_id' value="{{ user['id'] }}">
                                </form>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>